@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=League+Gothic&family=Open+Sans:wght@300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

$main-color: #151D3B;
$secondary-color: #D82148;
$base-color: #6EBF8B;
$other-color: #DADBBD;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-color;
  background-image: url('../public/images/three-dots-vertical.png');
  background-size: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ground{
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $main-color);
  height: 100%;
}

header {
  border-bottom: 20px solid $other-color;
  background-image: url('../public/images/fundo1.jpg');
  background-size: 2500px;
  background-position: center;
  height: 200px;
  box-shadow: 0px 30px 25px #00000080;

  img {
    position: relative;
    top: 60px;
    left: 25px;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 15px solid $other-color;
    box-shadow: 0px 25px 25px #00000080;
  }

  h1 {

    margin-top: 25px;
    color: $base-color;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: $other-color;
    font-size: 8.6rem;
    font-family: 'League Gothic', sans-serif;
    margin-left: 50px;
  }

}

.bg-image-effect {
  transition: 20s;
  background-size: 700px;
}

main{
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .card-show{
    align-self: end;
    background-color: $secondary-color;
    width: 68%;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    color: $other-color;

    border-top: 3px solid $other-color;
    border-bottom: 3px solid $other-color;
    box-shadow: 8px 8px 10px #00000080;

    details{
      display: none;
    }
  }

  .projeto{
    background-color: $base-color;
    border: 4px solid $main-color;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow:  8px 8px 10px #00000080;

    a {
      text-decoration: none;
      color: $other-color;
    }

    h2 {
      font-size: 4.5rem;
      color: $base-color;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $other-color;
      text-align: center;
      font-weight:900;
      text-transform: uppercase;
      text-shadow: 1px 1px 7px $main-color;
    }

    .imagens{
      text-align: center;
    }

    .imagens img{
      margin: 0px 2px;
      border-radius: 5px;
    }

    img.img1 {
      width: 78%;
      
    }

    img.img2{
      width: 19%;
    }

    .desc,.obs,.link{
      color: $main-color
    }

    .link {
      margin: 10px;
    }

    .desc {
      margin: 10px;
      font-style: italic;
    }

    .obs{
      font-weight: bold;
    }

    .tecnologias{ 
      margin-top: 10px;

      p{
        color: $main-color;
        font-weight: 800;
      }

      div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
  
        img{
          width: 50px;
          margin: 5px;
        }
      }
    }

    .github {

      a {
      margin-top: 10px;
      border-radius: 5px;
      padding: 2px;
      display: inline-flex;
      align-items: center;
      background-color: $secondary-color;
      }

      img {
        width: 20px;
        margin-right: 3px;
      }
    }

  }
}

footer{
  margin-top: 50px;
  background-color: $main-color;
  color: $base-color;
  padding: 55px;

  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 20px;
      }
    }
  }

  svg{
    width: 50px;
    cursor: pointer;
    transition: .3s;
  }

  a{
    color: $base-color;
  }

  a:hover svg {
    color: $secondary-color;
  }

}

/* Responsividade */
@media(max-width: 1355px){
  header{
    /* background-size: 100%; */
    h1{
      font-size: 6rem;
      margin-top: 97px;
    }
  }

  main{
    margin-top: 90px;
  
    .card-show{
      width: 60%;
    }
  }
}

@media(max-width: 715px){

  header{

    h1{
      font-size: 4rem;
      margin: 0;
      margin-top: 70px;
      text-align: center;
    }

    img {
      position: relative;
      top: 60px;
      left: calc(50% - 135px);
      width: 250px;
      height: 250px;
    }
  }

  main{
    margin-top: 220px;
  
    .card-show{
      float: none;
      width: 85%;
      margin: 10px auto;
    }

    .projeto{
      h2 {
        font-size: 3rem;
      }
    }
  }

  .ground{
    display: block;
  }

  footer{
    flex-direction: column;

    div {
      margin: 15px 0px;
    }
  }
}

@media(max-width: 475px){
  header{
    /* background-size: 300%; */
    
    h1{
      font-size: 5.5rem;
    }
  }

  main{
    margin-top: 350px;

    .card-show{
      .devDesc{
        display: none;
      }

      details{
        display: block;
        
        summary{
          font-size: .8rem;
          background-color: $other-color;
          color: $secondary-color;
          text-align: center;
          border-radius: 3px;
          padding: 5px;
        }

        p{
          margin-top: 10px;
        }
      }
    }

    .projeto{
      h2 {
        font-size: 2rem;
        -webkit-text-stroke-width: 1px;
      }
    }
  }
}